<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

	<!-- Favicons -->
	<link rel="apple-touch-icon" sizes="57x57" href="{{ "/assets/images/apple-icon-57x57.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ "/assets/images/apple-icon-60x60.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ "/assets/images/apple-icon-72x72.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ "/assets/images/apple-icon-76x76.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ "/assets/images/apple-icon-114x114.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/images/apple-icon-120x120.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ "/assets/images/apple-icon-144x144.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/images/apple-icon-152x152.png" | relative_url }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/images/apple-icon-180x180.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ "/assets/images/android-icon-192x192.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/images/favicon-32x32.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ "/assets/images/favicon-96x96.png" | relative_url }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/images/favicon-16x16.png" | relative_url }}">
	<link rel="manifest" href="/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ "/assets/images/ms-icon-144x144.png" | relative_url }}">
	<meta name="theme-color" content="#ffffff">


  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

	<!-- for mathjax support -->
	{% if page.usemathjax %}
		<script type="text/x-mathjax-config">
			MathJax.Hub.Config({
			TeX: { equationNumbers: { autoNumber: "AMS" } }
			});
		</script>
		<script type="text/javascript" async src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	{% endif %}

 <!-- Popup for abstracts -->
<!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- Magnific Popup core JS file -->
<script src="{{ "/assets/js/jquery.magnific-popup.js" | relative_url }}"></script>

	{% include styles.html %}
	{% seo %}
</head>
